/* FONTS VARIABLES */
$default-font-size: 1.4rem;
$preview-header-font-size: 1.8rem;

/* COLORS */
$color-primary: #a52300;

$color-grey-dark: #444444;

$color-grey-light: #898989;

$color-white: #fff;