.main-eventos {
    
    &__img {
        margin-top: 5rem;
        margin-bottom: 7rem;
        width: 50vw;
    }

    &__button {
        max-width: 38rem;
        margin: auto;
        &:link,
        &:visited,
        &:active {
            color: $color-primary;
            padding: 2rem 2rem;
            transition: all .2s ease-out;
        }

        &:hover,
        &:focus {
            color: $color-white;
            background-color: $color-primary;
        }
    }

    &__container {
        display: flex;
    }
}