.main-aboutus {
    margin-top: 12rem;
    margin-bottom: 10rem;
    
    &__us {
        float: left;
        padding: 12rem 12rem 2rem;
        width: 55%;
    }

    &__hours {
        overflow: auto;
        padding: 10rem 2rem 2rem;
    }
}

.us-paragraph {
    margin-bottom: 7rem;
}

.us-container {
    display: flex;
    align-items:center;
    margin-bottom: 6rem;

    &__logo {
        -webkit-filter: invert(100%);filter: invert(100%);
        max-width: 10rem;
        margin-right: 3.5rem;
    }
}

.us-button {
    max-width: 80rem;
    float: right;
    &:link,
    &:visited,
    &:active {
        color: $color-primary;
        padding: 2rem 6rem;
        transition: all .2s ease-out;
    }
    &:hover,
    &:focus {
        color: $color-white;
        background-color: $color-primary;
    }
}

.hours {
    margin-bottom: 13rem;

    &__header {
        margin-bottom: 2rem;
    }    
}

.location {
    &__header {
        margin-bottom: 2rem;
    }

    &__phone {
        margin-bottom: 9.4rem;
    }

    &__button {
        max-width: 80rem;
        float: left;
        &:link,
        &:visited,
        &:active {
            color: $color-primary;
            padding: 2rem 6rem;
            transition: all .2s ease-out;
        }
        &:hover,
        &:focus {
            color: $color-white;
            background-color: $color-primary;
        }
    }
}