.main-blog {

    position: relative;

    &__graystrip {
        position: absolute;
        z-index: -1;
        min-height: 36rem;
        height: 55vh;
        width: 100%;
        background-color: #444444;
    }
}

.card {
    margin-top: 23rem;
}