.main-banner {
    display: flex;
    height: 65vh;
    min-height: 30rem;
    padding-top: 7vw;
    padding-left: 10vw;
    &__header {
        font-size: 4vw;
        color: white;
    }
    &__span{
        font-size: 2vw;
    }
}