.main-aboutus {
    padding-top: 12rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 770px) {
        flex-direction: column;
    }

    &__us {
        padding: 0 2rem;
        width: 55%;
        display: flex;
        flex-direction: column;
        
        @media (max-width: 770px) {
            margin-bottom: 7rem;
        }
    }

    &__hours {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__us,
    &__hours {
        @media (max-width: 770px) {
            width: 100%;
        }
    }
}

.us-paragraph {
    margin-bottom: 7rem;
}

.us-container {
    display: flex;
    align-items:center;
    margin-bottom: 6rem;

    &__logo {
        -webkit-filter: invert(100%);filter: invert(100%);
        max-width: 10rem;
        margin-right: 3.5rem;
    }
}

.us-button {
    max-width: 80rem;
    align-self: flex-end;

    &:link,
    &:visited,
    &:active {
        color: $color-primary;
        padding: 2rem 6rem;
        transition: all .2s ease-out;

        @media (max-width: 770px) {
            padding: 2rem 0;
            width: 100%;
        }
    }
    &:hover,
    &:focus {
        color: $color-white;
        background-color: $color-primary;
    }
}

.hours {
    display: flex;
    flex-direction: column;
    
    &__header {
        margin-bottom: 2rem;
    }    

    &__paragraph {
        margin-bottom: 2rem;
    }
}

.location {
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: 2rem;
    }

    &__phone {
        margin-bottom: 5rem;
    }

    &__button {
        max-width: 80rem;

        &:link,
        &:visited,
        &:active {
            color: $color-primary;
            padding: 2rem 6rem;
            transition: all .2s ease-out;
        }
        &:hover,
        &:focus {
            color: $color-white;
            background-color: $color-primary;
        }
    }
}

.hours,
.location {
    @media (max-width: 770px) {
        margin-bottom: 6rem;
    }
}