/* FONTS VARIABLES */
/* COLORS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1025px) {
  html {
    font-size: 50%;
  }
}

.u-padding {
  padding: 0 12rem;
}
@media (max-width: 1200px) {
  .u-padding {
    padding: 6rem;
  }
}
@media (max-width: 460px) {
  .u-padding {
    padding: 3rem;
  }
}

.u-margin {
  margin: 0 12rem;
}
@media (max-width: 1200px) {
  .u-margin {
    margin: 6rem;
  }
}
@media (max-width: 460px) {
  .u-margin {
    margin: 3rem;
  }
}

.u-narrow {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .u-narrow {
    width: 100%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
}

.main-navigation__link {
  letter-spacing: 1px;
}

.social-menu__link {
  font-size: 3rem;
}

.main-banner__header {
  color: white;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 0.8rem;
}
.main-banner__span {
  font-size: 3rem;
}

.banner__header {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 2px 2px 3px rgba(20, 20, 20, 0.8);
}

.options-bar__select {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  font-size: 1.4rem;
}

.card__title {
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}
.card__content {
  color: #444444;
}
.card__meta {
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.card__author-link:link, .card__author-link:visited, .card__author-link:active {
  font-weight: 700;
  color: #444444;
}

.main-footer__heading {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.main-footer__content {
  color: #fff;
  text-transform: uppercase;
}
.main-footer__link:link, .main-footer__link:active, .main-footer__link:visited {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.main-footer__link:hover, .main-footer__link:focus {
  opacity: 0.7;
}

.article-header {
  font-size: 3rem;
  font-weight: 400;
  color: #a52300;
}

.main-navigation__checkbox {
  display: none;
}
.main-navigation__button {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border: 1px solid #fff;
  text-align: center;
  display: none;
}
@media (max-width: 650px) {
  .main-navigation__button {
    display: block;
  }
}
.main-navigation__icon {
  position: relative;
  margin-top: 2rem;
}
.main-navigation__icon, .main-navigation__icon::before, .main-navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}
.main-navigation__icon::before, .main-navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.main-navigation__icon::before {
  top: -0.8rem;
}
.main-navigation__icon::after {
  top: 0.8rem;
}
.main-navigation__checkbox:checked + .main-navigation__button .main-navigation__icon {
  background: transparent;
}
.main-navigation__checkbox:checked + .main-navigation__button .main-navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.main-navigation__checkbox:checked + .main-navigation__button .main-navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.main-navigation__checkbox:checked ~ .main-navigation__list {
  visibility: visible;
  opacity: 1;
}
.main-navigation__list {
  list-style: none;
  display: flex;
}
@media (max-width: 650px) {
  .main-navigation__list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    flex-direction: column;
    background: #444444;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
}
.main-navigation__item:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 650px) {
  .main-navigation__item {
    text-align: center;
    width: 100%;
    padding: 2rem 0;
  }
  .main-navigation__item:not(:last-child) {
    margin-right: 0;
  }
}
.main-navigation__link:link, .main-navigation__link:visited, .main-navigation__link:active {
  text-decoration: none;
  color: #fff;
}
.main-navigation__link:hover, .main-navigation__link:focus {
  opacity: 0.7;
}

.social-menu__link:link, .social-menu__link:visited, .social-menu__link:active {
  text-decoration: none;
  color: #fff;
}
.social-menu__link:link:not(:last-child), .social-menu__link:visited:not(:last-child), .social-menu__link:active:not(:last-child) {
  margin-right: 1rem;
}
.social-menu__link:focus, .social-menu__link:hover {
  opacity: 0.7;
}

.main-banner {
  display: flex;
  height: 70vh;
  min-height: 30rem;
  align-items: center;
}

.banner {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.banner__header {
  margin-bottom: 5rem;
}

.options-bar {
  display: flex;
  justify-content: flex-start;
  padding: 5rem 1rem 2rem;
  border-bottom: 1px solid #444444;
}
@media (max-width: 370px) {
  .options-bar {
    flex-direction: column;
  }
}
.options-bar__select {
  border: none;
}
.options-bar__select:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 370px) {
  .options-bar__select:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.card {
  flex: 0 0 30%;
  position: relative;
  margin-bottom: 5rem;
}
@media (max-width: 980px) {
  .card {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
.card__img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.card__title {
  background-color: #a52300;
  padding: 2.5rem 3rem;
  width: fit-content;
  text-transform: uppercase;
  position: absolute;
  top: 20rem;
  right: -2rem;
  max-width: 70%;
  z-index: 100;
}
.card__content {
  padding: 5rem 0 2rem;
}
.card__meta {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-bottom: 2rem;
}
.card__author-link:link, .card__author-link:visited, .card__author-link:active {
  text-decoration: none;
}
.card__author-link:hover, .card__author-link:focus {
  outline: none;
  text-decoration: underline;
}
.card__text {
  margin-bottom: 2.5rem;
}

.link-button:link, .link-button:visited, .link-button:active {
  color: #a52300;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-out;
}
.link-button:hover, .link-button:focus {
  color: #fff;
  background-color: #a52300;
}
.link-button__arrows {
  margin-left: 1rem;
  transition: inherit;
}
.link-button:hover .link-button__arrows, .link-button:focus .link-button__arrows {
  margin-left: 1.5rem;
  color: #fff;
}

.pagination__link:link, .pagination__link:active, .pagination__link:visited {
  color: #a52300;
  text-decoration: none;
}
.pagination__link:hover, .pagination__link:focus {
  text-decoration: underline;
}
.pagination__link--back {
  margin-right: 1.5rem;
}
.pagination__link--fwd {
  margin-left: 1.5rem;
}
.pagination__link.pagination__link--active {
  text-decoration: underline;
}

.event-card {
  flex: 0 0 30%;
  margin-bottom: 3rem;
}
@media (max-width: 860px) {
  .event-card {
    flex: 0 0 47%;
  }
}
@media (max-width: 600px) {
  .event-card {
    flex: 0 0 100%;
  }
}
.event-card__image-box {
  height: 23rem;
  position: relative;
}
.event-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.event-card__tag {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem 3rem;
  background-color: #898989;
  color: #fff;
}
.event-card__info {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #a52300;
  padding: 3.5rem;
}
.event-card__title {
  font-weight: 300;
  font-size: 1.8rem;
  color: #fff;
  flex: 1 0 100%;
  margin-bottom: 6.5rem;
}
.event-card__date {
  color: #fff;
  font-weight: 300;
}

.square-button:link, .square-button:visited, .square-button:active {
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  transition: all 0.2s ease-out;
}

.square-button--invert:link, .square-button--invert:visited, .square-button--invert:active {
  color: #fff;
  border: 1px solid #fff;
}
.square-button--invert:hover, .square-button--invert:focus {
  color: #a52300;
  background-color: #fff;
}

.metabox {
  display: inline-block;
  margin: 5rem 0;
  box-shadow: 0px 9px 10px rgba(20, 20, 20, 0.7);
}
.metabox__link {
  padding: 1rem 1.5rem;
  background-color: #444444;
}
.metabox__link:link, .metabox__link:visited, .metabox__link:active {
  color: #fff;
  text-decoration: none;
}
.metabox__link:hover, .metabox__link:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.7);
}
.metabox__link i {
  margin-right: 1.5rem;
}
.metabox__title {
  color: #fff;
  padding: 1rem 1.5rem;
  background-color: #a52300;
}

.featured-image {
  margin: 0 0 6rem;
}
.featured-image__image {
  width: 100%;
  height: 60vh;
  min-height: 30rem;
  object-fit: cover;
}
@media (max-width: 400px) {
  .featured-image__image {
    min-height: 20rem;
    height: 40vh;
  }
}
.featured-image__caption {
  background-color: #898989;
  color: #fff;
  padding: 2rem;
  transform: translateY(-4px);
}

.article-info {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #444444;
}
.article-info__link:link, .article-info__link:visited, .article-info__link:active {
  color: #a52300;
  text-decoration: none;
  font-weight: 700;
}
.article-info__link:hover, .article-info__link:focus {
  text-decoration: underline;
}
.share-buttons {
  padding: 2rem 1rem;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 370px) {
  .share-buttons {
    justify-content: flex-start;
  }
}
.share-buttons__btn {
  padding: 1rem 1.5rem;
  border-radius: 5px;
}
@media (max-width: 370px) {
  .share-buttons__btn {
    width: 3rem;
    text-align: center;
  }
}
.share-buttons__btn:link, .share-buttons__btn:active, .share-buttons__btn:visited {
  color: #fff;
  text-decoration: none;
}
.share-buttons__btn i {
  margin-right: 1.5rem;
}
@media (max-width: 370px) {
  .share-buttons__btn i {
    margin-right: 0;
    font-size: 3rem;
  }
}
.share-buttons__btn:not(:last-child) {
  margin-right: 1rem;
}
.share-buttons__btn--whatsapp {
  background-color: #23d265;
}
.share-buttons__btn--facebook {
  background-color: #3c5a9b;
}
.share-buttons__btn--twitter {
  background-color: #53aff2;
}
@media (max-width: 370px) {
  .share-buttons__btn-text {
    display: none;
  }
}

.main-header {
  background-color: #a52300;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 3px 18px rgba(68, 68, 68, 0.8);
  position: relative;
}
.main-header .logo-box .logo {
  width: 6.5rem;
}
.main-header .main-navigation {
  margin-left: auto;
}
.main-header .social-menu {
  margin-left: 2.5rem;
}
@media (max-width: 830px) {
  .main-header .social-menu {
    display: none;
  }
}

.main-footer {
  background-color: #898989;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.main-footer__container {
  padding: 3rem 0;
  display: flex;
  border-top: 1px solid #fff;
}
@media (max-width: 840px) {
  .main-footer__container {
    flex-direction: column;
  }
}
.main-footer__element:not(:last-child) {
  margin-right: 10rem;
}
@media (max-width: 840px) {
  .main-footer__element:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5rem;
  }
}
.main-footer__heading {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
  position: relative;
}
.main-footer__heading h3 {
  margin-left: 7rem;
}
.main-footer__content {
  display: flex;
  flex-direction: column;
}
.main-footer__content.main-footer__content--horizontal {
  flex-direction: row;
}
.main-footer__logo {
  width: 6rem;
  position: absolute;
  left: 0;
  top: -2rem;
}
.main-footer__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.main-footer__icon {
  height: 9rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-right: 2rem;
}
.main-footer__icon:link, .main-footer__icon:active, .main-footer__icon:visited {
  color: #fff;
  text-decoration: none;
}
.main-footer__icon--fb {
  background-color: #4862a3;
}
.main-footer__icon--fb:hover, .main-footer__icon--fb:focus {
  background-color: #5a7aca;
}
.main-footer__icon--ig {
  background-color: #d8226b;
}
.main-footer__icon--ig:hover, .main-footer__icon--ig:focus {
  background-color: #f72c7d;
}

.cards-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-header {
  margin-bottom: 3rem;
}

.article-content {
  padding: 5rem 0;
}
.article-content p {
  margin-bottom: 2rem;
  line-height: 3rem;
}

.similar-posts {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}
@media (max-width: 580px) {
  .similar-posts {
    flex-direction: column;
  }
}
.similar-posts h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  width: 100%;
}
.similar-posts .post {
  width: 48%;
}
@media (max-width: 580px) {
  .similar-posts .post {
    width: 100%;
  }
}
.similar-posts .post__image {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}
.similar-posts .post__title {
  padding: 2rem;
  font-size: 2.1rem;
}
.similar-posts .post a:link,
.similar-posts .post a:visited,
.similar-posts .post a:active {
  color: #a52300;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
