/* FONTS VARIABLES */
/* COLORS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.u-padding {
  padding: 0 12rem;
}
@media (max-width: 1200px) {
  .u-padding {
    padding: 6rem;
  }
}
@media (max-width: 460px) {
  .u-padding {
    padding: 3rem;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
}

.main-navigation__link {
  letter-spacing: 1px;
}

.social-menu__link {
  font-size: 3rem;
}

.main-navigation__checkbox {
  display: none;
}
.main-navigation__button {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border: 1px solid #fff;
  text-align: center;
  display: none;
}
@media (max-width: 650px) {
  .main-navigation__button {
    display: block;
  }
}
.main-navigation__icon {
  position: relative;
  margin-top: 2rem;
}
.main-navigation__icon, .main-navigation__icon::before, .main-navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}
.main-navigation__icon::before, .main-navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.main-navigation__icon::before {
  top: -0.8rem;
}
.main-navigation__icon::after {
  top: 0.8rem;
}
.main-navigation__checkbox:checked + .main-navigation__button .main-navigation__icon {
  background: transparent;
}
.main-navigation__checkbox:checked + .main-navigation__button .main-navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.main-navigation__checkbox:checked + .main-navigation__button .main-navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.main-navigation__checkbox:checked ~ .main-navigation__list {
  visibility: visible;
  opacity: 1;
}
.main-navigation__list {
  list-style: none;
  display: flex;
}
@media (max-width: 650px) {
  .main-navigation__list {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    flex-direction: column;
    background: #444444;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
}
.main-navigation__item:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 650px) {
  .main-navigation__item {
    text-align: center;
    width: 100%;
    padding: 2rem 0;
  }
  .main-navigation__item:not(:last-child) {
    margin-right: 0;
  }
}
.main-navigation__link:link, .main-navigation__link:visited, .main-navigation__link:active {
  text-decoration: none;
  color: #fff;
}
.main-navigation__link:hover, .main-navigation__link:focus {
  opacity: 0.7;
}

.social-menu__link:link, .social-menu__link:visited, .social-menu__link:active {
  text-decoration: none;
  color: #fff;
}
.social-menu__link:link:not(:last-child), .social-menu__link:visited:not(:last-child), .social-menu__link:active:not(:last-child) {
  margin-right: 1rem;
}
.social-menu__link:focus, .social-menu__link:hover {
  opacity: 0.7;
}

.main-header {
  background-color: #a52300;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 3px 18px rgba(68, 68, 68, 0.8);
  position: relative;
}
.main-header .logo-box .logo {
  width: 6.5rem;
}
.main-header .main-navigation {
  margin-left: auto;
}
.main-header .social-menu {
  margin-left: 2.5rem;
}
@media (max-width: 830px) {
  .main-header .social-menu {
    display: none;
  }
}

.main-banner {
  display: flex;
  height: 65vh;
  min-height: 30rem;
  padding-top: 2.5rem;
}
.main-banner__header {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
